@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'fontello';
  src: url(/fonts/fontello.eot?8c2a88b215f33fceed0f0c68de0ae6f7);
  src: url(/fonts/fontello.eot?8c2a88b215f33fceed0f0c68de0ae6f7) format("embedded-opentype"), url(/fonts/fontello.woff2?0a3da762ab73db76f4289f24b1f79c83) format("woff2"), url(/fonts/fontello.woff?4bb07029e490832cce259be5b1519bd3) format("woff"), url(/fonts/fontello.ttf?d7270db09c839ec43163666fece20207) format("truetype"), url(/fonts/fontello.svg?54520e0f3182886547d386d8887a1d9e) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32940739#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before {
  content: '\E801';
}

/* '' */

.icon-print:before {
  content: '\E802';
}

/* '' */

.icon-link:before {
  content: '\E803';
}

/* '' */

.icon-github-circled:before {
  content: '\F09B';
}

/* '' */

@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotateY(0) rotateX(0);
            transform: rotateY(0) rotateX(0);
  }

  25% {
    -webkit-transform: rotateY(90deg) rotateX(90deg);
            transform: rotateY(90deg) rotateX(90deg);
  }

  50% {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
            transform: rotateY(180deg) rotateX(180deg);
  }

  75% {
    -webkit-transform: rotateY(270deg) rotateX(270deg);
            transform: rotateY(270deg) rotateX(270deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}

@keyframes cube {
  0% {
    -webkit-transform: rotateY(0) rotateX(0);
            transform: rotateY(0) rotateX(0);
  }

  25% {
    -webkit-transform: rotateY(90deg) rotateX(90deg);
            transform: rotateY(90deg) rotateX(90deg);
  }

  50% {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
            transform: rotateY(180deg) rotateX(180deg);
  }

  75% {
    -webkit-transform: rotateY(270deg) rotateX(270deg);
            transform: rotateY(270deg) rotateX(270deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}

@-webkit-keyframes cube-reverse {
  0% {
    -webkit-transform: rotateX(0) rotateZ(0);
            transform: rotateX(0) rotateZ(0);
  }

  25% {
    -webkit-transform: rotateX(-90deg) rotateZ(-90deg);
            transform: rotateX(-90deg) rotateZ(-90deg);
  }

  50% {
    -webkit-transform: rotateX(-180deg) rotateZ(-180deg);
            transform: rotateX(-180deg) rotateZ(-180deg);
  }

  75% {
    -webkit-transform: rotateX(-270deg) rotateZ(-270deg);
            transform: rotateX(-270deg) rotateZ(-270deg);
  }

  100% {
    -webkit-transform: rotateX(-360deg) rotateZ(-360deg);
            transform: rotateX(-360deg) rotateZ(-360deg);
  }
}

@keyframes cube-reverse {
  0% {
    -webkit-transform: rotateX(0) rotateZ(0);
            transform: rotateX(0) rotateZ(0);
  }

  25% {
    -webkit-transform: rotateX(-90deg) rotateZ(-90deg);
            transform: rotateX(-90deg) rotateZ(-90deg);
  }

  50% {
    -webkit-transform: rotateX(-180deg) rotateZ(-180deg);
            transform: rotateX(-180deg) rotateZ(-180deg);
  }

  75% {
    -webkit-transform: rotateX(-270deg) rotateZ(-270deg);
            transform: rotateX(-270deg) rotateZ(-270deg);
  }

  100% {
    -webkit-transform: rotateX(-360deg) rotateZ(-360deg);
            transform: rotateX(-360deg) rotateZ(-360deg);
  }
}

.bgcube-background {
  opacity: .05;
  width: 512px;
  height: 512px;
  position: fixed;
  bottom: 0;
  right: 512px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 0;
  pointer-events: none;
}

@media print {
  .bgcube-background {
    display: none;
  }
}

.bgcube-container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: absolute;
}

.bgcube-container:nth-child(1) {
  top: 25%;
  left: 25%;
  -webkit-transform: scale3d(5, 5, 5) rotate3d(0, 0, 1, 30deg);
          transform: scale3d(5, 5, 5) rotate3d(0, 0, 1, 30deg);
}

.bgcube-container:nth-child(2) {
  top: -50%;
  left: -50%;
  -webkit-transform: scale3d(4, 4, 4) rotate3d(0, 1, 0, -30deg);
          transform: scale3d(4, 4, 4) rotate3d(0, 1, 0, -30deg);
}

.bgcube-container:nth-child(1) .cube {
  -webkit-animation: cube 240s linear infinite;
          animation: cube 240s linear infinite;
}

.bgcube-container:nth-child(2) .cube {
  -webkit-animation: cube-reverse 180s linear infinite;
          animation: cube-reverse 180s linear infinite;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.cube-face {
  margin: 0;
  width: 252px;
  height: 252px;
  display: block;
  position: absolute;
  border: 2px solid #8C2F5E;
}

.cube-face:nth-child(1) {
  -webkit-transform: rotateY(0) translateZ(128px);
          transform: rotateY(0) translateZ(128px);
}

.cube-face:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(128px);
          transform: rotateX(180deg) translateZ(128px);
}

.cube-face:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(128px);
          transform: rotateY(90deg) translateZ(128px);
}

.cube-face:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(128px);
          transform: rotateY(-90deg) translateZ(128px);
}

.cube-face:nth-child(5) {
  -webkit-transform: rotateX(90deg) translateZ(128px);
          transform: rotateX(90deg) translateZ(128px);
}

.cube-face:nth-child(6) {
  -webkit-transform: rotateX(-90deg) translateZ(128px);
          transform: rotateX(-90deg) translateZ(128px);
}

html,
body {
  font-size: 12px;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.main-container {
  width: 90vw;
  height: 90vw;
  -webkit-perspective: 450vw;
          perspective: 450vw;
  margin: auto;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .main-container {
    width: 90vh;
    height: 90vh;
    -webkit-perspective: 450vh;
            perspective: 450vh;
  }
}

.cube-container {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.cube-container.show-front {
  -webkit-transform: translateZ(-45vw) rotateY(0);
          transform: translateZ(-45vw) rotateY(0);
}

@media screen and (min-width: 769px) {
  .cube-container.show-front {
    -webkit-transform: translateZ(-45vh) rotateY(0);
            transform: translateZ(-45vh) rotateY(0);
  }
}

.cube-container.show-back {
  -webkit-transform: translateZ(-45vw) rotateX(-180deg);
          transform: translateZ(-45vw) rotateX(-180deg);
}

@media screen and (min-width: 769px) {
  .cube-container.show-back {
    -webkit-transform: translateZ(-45vh) rotateX(-180deg);
            transform: translateZ(-45vh) rotateX(-180deg);
  }
}

.cube-container.show-right {
  -webkit-transform: translateZ(-45vw) rotateY(-90deg);
          transform: translateZ(-45vw) rotateY(-90deg);
}

@media screen and (min-width: 769px) {
  .cube-container.show-right {
    -webkit-transform: translateZ(-45vh) rotateY(-90deg);
            transform: translateZ(-45vh) rotateY(-90deg);
  }
}

.cube-container.show-left {
  -webkit-transform: translateZ(-45vw) rotateY(90deg);
          transform: translateZ(-45vw) rotateY(90deg);
}

@media screen and (min-width: 769px) {
  .cube-container.show-left {
    -webkit-transform: translateZ(-45vh) rotateY(90deg);
            transform: translateZ(-45vh) rotateY(90deg);
  }
}

.cube-container.show-top {
  -webkit-transform: translateZ(-45vw) rotateX(-90deg);
          transform: translateZ(-45vw) rotateX(-90deg);
}

@media screen and (min-width: 769px) {
  .cube-container.show-top {
    -webkit-transform: translateZ(-45vh) rotateX(-90deg);
            transform: translateZ(-45vh) rotateX(-90deg);
  }
}

.cube-container.show-bottom {
  -webkit-transform: translateZ(-45vw) rotateX(90deg);
          transform: translateZ(-45vw) rotateX(90deg);
}

@media screen and (min-width: 769px) {
  .cube-container.show-bottom {
    -webkit-transform: translateZ(-45vh) rotateX(90deg);
            transform: translateZ(-45vh) rotateX(90deg);
  }
}

.cube-container section {
  background: #fff;
  margin: 0;
  width: calc(90vw - 4px);
  height: calc(90vw - 4px);
  display: block;
  position: absolute;
  border: 2px solid #550600;
}

@media screen and (min-width: 769px) {
  .cube-container section {
    width: calc(90vh - 4px);
    height: calc(90vh - 4px);
  }
}

.cube-container section.front {
  -webkit-transform: rotateY(0) translateZ(45vw);
          transform: rotateY(0) translateZ(45vw);
}

@media screen and (min-width: 769px) {
  .cube-container section.front {
    -webkit-transform: rotateY(0) translateZ(45vh);
            transform: rotateY(0) translateZ(45vh);
  }
}

.cube-container section.back {
  -webkit-transform: rotateX(180deg) translateZ(45vw);
          transform: rotateX(180deg) translateZ(45vw);
}

@media screen and (min-width: 769px) {
  .cube-container section.back {
    -webkit-transform: rotateX(180deg) translateZ(45vh);
            transform: rotateX(180deg) translateZ(45vh);
  }
}

.cube-container section.right {
  -webkit-transform: rotateY(90deg) translateZ(45vw);
          transform: rotateY(90deg) translateZ(45vw);
}

@media screen and (min-width: 769px) {
  .cube-container section.right {
    -webkit-transform: rotateY(90deg) translateZ(45vh);
            transform: rotateY(90deg) translateZ(45vh);
  }
}

.cube-container section.left {
  -webkit-transform: rotateY(-90deg) translateZ(45vw);
          transform: rotateY(-90deg) translateZ(45vw);
}

@media screen and (min-width: 769px) {
  .cube-container section.left {
    -webkit-transform: rotateY(-90deg) translateZ(45vh);
            transform: rotateY(-90deg) translateZ(45vh);
  }
}

.cube-container section.top {
  -webkit-transform: rotateX(90deg) translateZ(45vw);
          transform: rotateX(90deg) translateZ(45vw);
}

@media screen and (min-width: 769px) {
  .cube-container section.top {
    -webkit-transform: rotateX(90deg) translateZ(45vh);
            transform: rotateX(90deg) translateZ(45vh);
  }
}

.cube-container section.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(45vw);
          transform: rotateX(-90deg) translateZ(45vw);
}

@media screen and (min-width: 769px) {
  .cube-container section.bottom {
    -webkit-transform: rotateX(-90deg) translateZ(45vh);
            transform: rotateX(-90deg) translateZ(45vh);
  }
}

.cube-controls {
  display: none;
  position: absolute;
  bottom: .25rem;
  right: .25rem;
}

.cube-controls.is-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .cube-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: .25rem;
  }

  .cube-controls.is-mobile {
    display: none;
  }
}

.cube-controls a {
  cursor: pointer;
  display: block;
  width: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
  text-align: center;
  line-height: 3.8rem;
  border: 2px solid #AA4139;
  margin: .1rem;
  border-radius: .1rem;
}

@media screen and (min-width: 769px) {
  .cube-controls a {
    width: 4.6rem;
    height: 4.6rem;
    line-height: 4.6rem;
    margin: .2rem;
  }
}

