
.icon-home:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-folder:before { content: '\e804'; } /* '' */
.icon-briefcase:before { content: '\e805'; } /* '' */
.icon-tools:before { content: '\e806'; } /* '' */
.icon-zoom-in:before { content: '\e807'; } /* '' */
.icon-zoom-out:before { content: '\e808'; } /* '' */
.icon-left:before { content: '\e809'; } /* '' */
.icon-right:before { content: '\e80a'; } /* '' */
.icon-spin:before { content: '\e834'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-education:before { content: '\f19d'; } /* '' */
.icon-bio:before { content: '\f2bb'; } /* '' */