@use "sass:color";

$color-primary-0: #8C2F5E;
$color-primary-1: #D28CAF;
$color-primary-2: #AF5784;
$color-primary-3: #69113E;
$color-primary-4: #460024;

$color-secondary-1-0: #AA4139;
$color-secondary-1-1: #FFB0AA;
$color-secondary-1-2: #D4726A;
$color-secondary-1-3: #801D15;
$color-secondary-1-4: #550600;

$color-secondary-2-0: #5B2971;
$color-secondary-2-1: #9974AA;
$color-secondary-2-2: #794A8D;
$color-secondary-2-3: #401155;
$color-secondary-2-4: #280339;

$primary: $color-primary-0;
$primary-lightest: $color-primary-1;
$primary-lighter: $color-primary-2;
$primary-darker: $color-primary-3;
$primary-darkest: $color-primary-4;

$secondary: $color-secondary-1-0;
$secondary-lightest: $color-secondary-1-1;
$secondary-lighter: $color-secondary-1-2;
$secondary-darker: $color-secondary-1-3;
$secondary-darkest: $color-secondary-1-4;

$tertiary: $color-secondary-2-0;
$tertiary-lightest: $color-secondary-2-1;
$tertiary-lighter: $color-secondary-2-2;
$tertiary-darker: $color-secondary-2-3;
$tertiary-darkest: $color-secondary-2-4;

$bg-base: #fff;

@function bg-gradient($direction, $transparency: .9) {
  @return linear-gradient($direction, transparentize($secondary-lightest, $transparency), transparentize($tertiary-darkest, $transparency))
}



$bg: bg-gradient(to bottom right, .85);
$bg-reverse: bg-gradient(to top left, .75);
$bg-secondary: #333;
$bg-button: lighten($secondary-lightest, 10%);

$tooltip-bg: transparentize($tertiary-darkest, .1);
$tooltip-color: #fff;