@mixin cube-transform($rotate) {
  transform: scale(1) translateZ(-$hw + vw) $rotate;

  @media screen and #{$gt-mobile} {
    transform: scale(1) translateZ(-$hw + vh) $rotate;
  }
}

@function rot($rx, $ry, $rz) {
  @return rotateX($rx + deg) rotateY($ry + deg) rotateZ($rz + deg);
}

@mixin show-face($face, $rx, $ry, $rz) {
  $rotate: rot($rx, $ry, $rz);

  &.show-#{$face} {
    @include cube-transform($rotate);
  }
}

@mixin face($face, $rotate) {
  &.#{$face} {
    transform: $rotate translateZ($hw + vw);

    @media screen and #{$gt-mobile} {
      transform: $rotate translateZ($hw + vh);
    }
  }
}
