@mixin list {
    padding-left: 24px;
    position: relative;

    &::before {
        text-align: center;
        content: "·";
        width: 24px;
        position: absolute;
        top: 0;
        left: 0;
        color: $primary;
    }
}

@mixin list-item {
    position: relative;
    margin-left: 1rem;

    &:before {
        content: "•";
        position: absolute;
        text-align: center;
        width: 1rem;
        left: -1rem;
    }
}
