@media screen {
  .app-print {
    display: none;
  }
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }

  .app-container > :not(.app-print) {
    display: none;
  }

  .app-print {
    display: block;
  }
}
