// fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;

  @include respond-to(md) {
    transition: all .4s;
  }
}

.fade-enter, .fade-leave-to {
  opacity: 0;

  @include respond-to(md) {
    transform: scale(1.2);
  }
}

// fade-zoom
.fade-zoom-enter-active, .fade-zoom-leave-active {
  transition: opacity .4s;

  @include respond-to(md) {
    transition: all .4s;
  }
}

.fade-zoom-enter, .fade-zoom-leave-to {
  opacity: 0;

  @include respond-to(md) {
    transform: scale(.5);
  }
}

// cover
.cover-enter-active, .cover-leave-active {
  transition: opacity .7s;

  h2 {
    transition: transform .5s;
    transition-delay: 1s;
  }
}

.cover-leave-active {
  transition-delay: 1s;
}

.cover-enter, .cover-leave-to {
  opacity: 0;

  h2 {
    transform: scale(1.2);
  }
}
