@use "sass:math";

$serif: Ovo, serif;
$sserif: Open Sans, sans-serif;

$break-sm: 600px;
$break-md: 900px;

$cw-sm: 290px;
$cw-md: 590px;
$cw-lg: 720px;

$hw-sm: math.div($cw-sm, 2);
$hw-md: math.div($cw-md, 2);
$hw-lg: math.div($cw-lg, 2);
