@import '~reset-css/reset';
@import url('https://fonts.googleapis.com/css?family=Ovo');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import '../fontello/css/animation';
@import '../fontello/css/fontello';
@import 'colors';
@import 'mixins';
@import 'cube';

$gt-mobile: '(min-width: 769px)';

$serif: Ovo, serif;
$sserif: Muli, sans-serif;

$cw: 90;
$hw: $cw/2;

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  line-height: 1.5em;
}

html, body {
  font-family: $sserif;
  font-size: 12px;
  color: $primary;

  @media screen and #{$gt-mobile} {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  font-weight: bold;
  color: $primary-darker;
  line-height: 1.25em;
}

h1 {
  font-size: 1.75rem;

  @media screen and #{$gt-mobile} {
    font-size: 3.5rem;

    + .subtitle {
      font-size: 2.5rem;
    }
  }

  + .subtitle {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid $primary-darker;
  padding-bottom: .5rem;
  position: relative;

  @media screen and #{$gt-mobile} {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 2rem;

  @media screen and #{$gt-mobile} {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.3rem;

  @media screen and #{$gt-mobile} {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
  color: $secondary-darkest;
  opacity: .667;
  transition: .4s opacity;

  &:hover {
    opacity: 1;
  }
}

li {
  position: relative;
}

footer {
  text-align: center;
}

.app-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.main-container {
  width: $cw + vw;
  height: $cw + vw;
  perspective: $cw * 5vw;
  margin: auto;

  @media screen and #{$gt-mobile} {
    width: $cw + vh;
    height: $cw + vh;
    perspective: $cw * 5vh;
  }

  position: relative;
  z-index: 1;
}

.cube-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;

  transition: transform 1s;

  @include cube-transform(rot(0, 0, 0));

  @include show-face(front, 0, 0, 0);
  @include show-face(back, -180, 0, 0);
  @include show-face(right, 0, -90, 0);
  @include show-face(left, 0, 90, 0);
  @include show-face(top, -90, 0, 0);
  @include show-face(bottom, 90, 0, 0);

  section {
    margin: 0;
    background: $bg-base;

    width: calc(#{$cw + vw} - 4px);
    height: calc(#{$cw + vw} - 4px);

    @media screen and #{$gt-mobile} {
      width: calc(#{$cw + vh} - 4px);
      height: calc(#{$cw + vh} - 4px);
    }

    display: block;
    position: absolute;
    border: 2px solid $secondary-darkest;

    @include face(front, rotateY(0));
    @include face(back, rotateX(180deg));
    @include face(right, rotateY(90deg));
    @include face(left, rotateY(-90deg));
    @include face(top, rotateX(90deg));
    @include face(bottom, rotateX(-90deg));

    &.is-visible {
      z-index: 10;
    }
  }
}

.cube-controls .icon {
  width: 3.25rem;
  height: 3.25rem;
  line-height: 3.25rem;
  font-size: 1.5rem;

  @media screen and #{$gt-mobile} {
    font-size: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
  }
}

.icon {
  color: $primary;
  display: inline-block;
  text-align: center;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
}

.cube-controls {
  display: none;
  position: absolute;
  bottom: .25rem;
  right: .25rem;
  left: .25rem;
  justify-content: space-evenly;
  align-items: center;

  &.is-mobile {
    display: flex;
  }

  @media screen and #{$gt-mobile} {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: .25rem;
    right: .75rem;
    left: auto;

    &.is-mobile {
      display: none;
    }
  }

  a {
    cursor: pointer;
    display: block;
    width: 3.25rem;
    height: 3.25rem;
    overflow: hidden;
    text-align: center;
    line-height: 3.8rem;
    border: 2px solid $secondary;
    border-radius: 1rem;
    position: relative;

    &::before {
      content: '';
      background: $secondary-lightest;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity .4s;
    }

    &.is-active {
      opacity: .8;
      color: $primary-darkest;
      font-weight: bold;
      &::before {
        opacity: .33;
      }
    }

    &:hover {
      &::before {
        opacity: .33;
      }
    }

    @media screen and #{$gt-mobile} {
      text-align: left;
      padding: .2rem;
      padding-left: 1.75rem;
      width: 3.5rem;
      height: 1.6rem;
      line-height: 1.6rem;
      margin: .1rem;
      border-radius: .5rem;
      font-size: .75rem;
      position: relative;

      .icon {
        position: absolute;
        top: .375rem;
        left: .2rem;
      }
    }
  }
}

.face-content-container {
  &.is-overflowed {
    justify-content: flex-start;
  }
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
  @media screen and #{$gt-mobile} {
    padding-right: 7rem;
  }
  box-sizing: border-box;
  background: $bg;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.face-contents {
  min-height: 0;
  position: relative;
  padding: 1rem 0;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  background: $bg-base;
}

.modal-backdrop {
  background: $bg;
  min-height: 100%;
}

.modal-contents {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem 1.5rem 3rem;

  li {
    display: block !important;
  }

  .dynamic-controls {
    display: none;
  }
}

.show-zoom {
  top: .333rem;
  right: .333rem;
  cursor: zoom-in;
}

.hide-zoom {
  bottom: 1rem;
  right: 2rem;
  cursor: zoom-out;
}

.hide-zoom,
.show-zoom {
  opacity: 1;
  position: fixed;
  border: 1px solid $tertiary-darkest;
  color: $tertiary-darkest;
  background: $bg-base;
  border-radius: .5rem;
  z-index: 11;

  .icon {
    background: $bg;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
}

.line {
  padding-left: calc(7.75rem + 1px);
  position: relative;

  > :not(.dynamic-controls) {
    padding-top: .1rem;
    padding-bottom: .1rem;
  }

  h3 {
    padding-top: .5rem;
  }
}

.line-label {
  font-size: .8rem;
  text-align: right;
  width: 7rem;
  padding-right: .25rem;
  position: absolute;
  left: .25rem;
  top: 0;
  border-right: 1px solid $tertiary-lightest;
  color: $tertiary;
  font-weight: bold;
}

.subtitle {
  font-size: .9rem;
}

h3 + .line-label {
  padding-top: .5rem;
  line-height: 30px;

  @media screen and #{$gt-mobile} {
    line-height: 40px;
  }
}

h4 + .line-label {
  line-height: 22px;

  @media screen and #{$gt-mobile} {
    line-height: 30px;
  }
}

.subtitle + .line-label {
  line-height: 16px;

  @media screen and #{$gt-mobile} {
    line-height: 21px;
  }
}

.educ-contents > li {
  padding: 0 0 1rem;
  &:last-child {
    padding: 0;
  }
}

.work-titles > li {
  > .line:last-of-type > .line-label {
    padding-bottom: .5rem;
    border-bottom: 1px solid $tertiary-lightest;
  }

  &:last-of-type .work-responsibilities {
    border-bottom: none;
  }
}

.is-dynamic {
  .work-contents,
  .work-titles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    overflow: hidden;
    > li {
      flex: 0 0 auto;
      max-width: 100%;
      border-bottom: none;
    }
  }
}

.is-dynamic .work-responsibilities {
  border-bottom: none;
}

.educ-institutes > li,
.work-contents > li {
  padding-bottom: .5rem;
  border-bottom: 1px solid $primary-lightest;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.work-responsibilities {
  margin-left: -.25rem;
  margin-bottom: -1px;
  padding-top: .25rem;
  border-bottom: 1px solid $tertiary-lightest;

  > li {
    padding-left: 1.5rem;

    &::before {
      content: "●";
      position: absolute;
      left: .25rem;
    }
  }
}

.educ-info {
  display: flex;
  justify-content: space-between;
}

.start-enter-active, .start-leave-active {
  transition: transform 2.5s;
}

.start-enter, .start-leave-to {
  transform: scale(0) translateZ(-10000vh) rotateX(45deg) rotateY(45deg) rotateZ(45deg);
}

.info {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
}

.dynamic-controls {
  padding: 0;
  a {
    position: absolute;
    z-index: 111;

    top: 50%;
    margin-top: -1rem;
    line-height: 2rem;
    height: 2rem;
    width: 2rem;
    text-align: center;
    cursor: pointer;

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }
}

.list-enter-active, .list-leave-active {
  transition: all .4s;

  .list-enter-active, .list-leave-active {
    transition: none;
  }
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-2rem);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;

  @media screen and #{$gt-mobile} {
    transition: all .4s;
  }
}

.fade-enter, .fade-leave-to {
  opacity: 0;

  @media screen and #{$gt-mobile} {
    transform: scale(1.2);
  }
}

.fade-zoom-enter-active, .fade-zoom-leave-active {
  transition: opacity .4s;

  @media screen and #{$gt-mobile} {
    transition: all .4s;
  }
}

.fade-zoom-enter, .fade-zoom-leave-to {
  opacity: 0;

  @media screen and #{$gt-mobile} {
    transform: scale(.5);
  }
}